:root{
	--color-text:#fff;
	--color-btn: #00a4e5;
	--dark: #171819;
	--more-dark: #141A20;
}










.prevew__title, 
.preview__text, 
.preview__scroll,
.slide__item-title,
.top-line__content-btn,
.g-i-t__btn,
.news__form-btn,
.news__title,
.footer-line,
.footer-item__link,
.fab,
.footer-item__link,
.footer-item__text,
.footer-item__title    {
	color: var(--color-text);
}

.g-i-t__title{
}
.navbar__link:hover,
.about__link{
	color: var(--color-btn);
}

.top-line__content-btn,
.g-i-t__btn,
.news__form-btn,
.top-line__title:after,
.about__title-2:after{
	background: var(--color-btn);
}

.news,
.footer-line
 {
	background: var(--dark);
}
.footer{
	background: var(--more-dark);
}


.top-line__content-text,
.footer-line,
.footer-item__text,
.footer-item__title  {
font-size: 11px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.20px;
}
.footer-item__link {
font-size: 11px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.84px;
}
.preview__scroll {
font-size: 11px;
font-weight: 600;
line-height: 15px;
letter-spacing: 3.70px;
}

.navbar__link {
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 1.09px;
}
.navbar__link:hover {
font-weight: 700;
}
.about__text,
.slide-item__text {
font-size: 13px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.18px;
}
.top-line__content-btn,
.g-i-t__btn,
.news__form-btn {
font-size: 13px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
}
.news__form-email {
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.07px;
}

.slide-item__title {
font-size: 15px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.42px;
}

.preview__text {
font-size: 16px;
font-weight: 600;
line-height: 22px;
}

.about__title-2,
.top-line__title {
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 2.30px;
}
.about__title{
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0.18px;
}
.news__title {
font-size: 22px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.84px;
}
.slide__item-title {
font-size: 24px;
font-weight: 800;
line-height: 29px;
letter-spacing: 0.18px;
}
.g-i-t__title {
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.15px;
}


.prevew__title {
font-family: BebasNeueBold;
font-size: 60px;
line-height: 70px;
letter-spacing: 5.70px;
}



