@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	color: #48555B;
}
a{
	color: #000;
}
.wraper{
	max-width: calc(209px + (940 - 209) * ((100vw - 320px) / (1440 - 320)));
	margin: 0 auto;
}
.header {
	background: url(../img/header/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-sizing: border-box;
	padding-top: calc(8.8px + (40 - 8.8) * ((100vw - 320px) / (1440 - 320)));	
	box-sizing: border-box;
}
.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo__link {
	max-width: 100%;
}
.logo {
}
.preview-content {
	display: flex;
	flex-direction: column;
	margin: calc(66.6px + (300 - 66.6) * ((100vw - 320px) / (1440 - 320))) 0 calc(49.1px + (221 - 49.1) * ((100vw - 320px) / (1440 - 320)));
}
.prevew__title {
	margin-bottom: calc(22.2px + (10 - 22.2) * ((100vw - 320px) / (1440 - 320)));
}
.preview__text {
	text-align: center;
}
.preview__scroll {
	margin-bottom: calc(15.7px + (71 - 15.7) * ((100vw - 320px) / (1440 - 320)));
}






.navbar {
	border: 1px solid #E6E6E6;
	padding: calc(5.3px + (24 - 5.3) * ((100vw - 320px) / (1440 - 320))) 0;

	
}
.navbar__inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo__link {
}
.logo,
.footer__logo  {
	width: calc(17.7px + (80 - 17.7) * ((100vw - 320px) / (1440 - 320)));
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
}
.navbar__item {
}
.navbar__item:nth-child(n+2) {
	margin-left: calc(9.3px + (42 - 9.3) * ((100vw - 320px) / (1440 - 320)));
}
.navbar__link{

}








.about {
	margin-top: calc(13.3px + (60 - 13.3) * ((100vw - 320px) / (1440 - 320)));
}
.about__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__title-2 {
margin-bottom: calc(20px + (90 - 20) * ((100vw - 320px) / (1440 - 320)));
position: relative;
}
.about__title-2:after{
	content: "";
	display: block;
	left: calc(6.6px + (30 - 6.6) * ((100vw - 320px) / (1440 - 320)));
	bottom: calc(-2.2px - (10 + 2.2) * ((100vw - 320px) / (1440 - 320)));
	width: 50%;
	position: absolute;
	height: calc(0.4px + (2 - 0.4) * ((100vw - 320px) / (1440 - 320)));
}
.about__content{
	display: flex;
	align-items: flex-end;
}
.about__container {
	display: grid;
	grid-gap: calc(6.6px + (30 - 6.6) * ((100vw - 320px) / (1440 - 320)));
}
.about__title{
	width: 84%;
}
.about__link {
}
.about__text {
	width: 78%;
}
.about__slides {
}
.slide__list {
	display: flex;
	max-width: calc(209px + (940 - 209) * ((100vw - 320px) / (1440 - 320)));
	align-items: center;
	justify-content: space-between;
}
.slide__item {
	min-height: calc(49.7px + (224 - 49.7) * ((100vw - 320px) / (1440 - 320)));
	padding: calc(3.1px + (14 - 3.1) * ((100vw - 320px) / (1440 - 320))) calc(12.8px + (58 - 12.8) * ((100vw - 320px) / (1440 - 320))) 0 calc(3.3px + (15 - 3.3) * ((100vw - 320px) / (1440 - 320)));
	max-width: calc(31.1px + (140 - 31.1) * ((100vw - 320px) / (1440 - 320)));
	background-size: 100%;
	background-repeat: no-repeat;
}
.slide__item:nth-child(1){
	background: url(../img/about/bg__1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.slide__item:nth-child(2){
	background: url(../img/about/bg__2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.slide__item:nth-child(3){
	background: url(../img/about/bg__3.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.slide__item:nth-child(n+2){
	margin-left: calc(4.4px + (20 - 4.4) * ((100vw - 320px) / (1440 - 320)));
}

.slide__item-title {
}





.services {
	margin-top: calc(26.6px + (120 - 26.6) * ((100vw - 320px) / (1440 - 320)));
}
.services__inner {
}
.top-line {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: calc(17.7px + (80 - 17.7) * ((100vw - 320px) / (1440 - 320)));
}
.top-line__title {
	position: relative;
}
.top-line__title:after{
	content: "";
	display: block;
	left: 0;
	bottom: calc(-2.2px - (10 + 2.2) * ((100vw - 320px) / (1440 - 320)));
	width: 22%;
	position: absolute;
	height: calc(0.4px + (2 - 0.4) * ((100vw - 320px) / (1440 - 320)));
}

.top-line__content-text {
	width: 42%;
}
.top-line__content-btn {
	border: none;
	padding: calc(2.4px + (11 - 2.4) * ((100vw - 320px) / (1440 - 320))) calc(6px + (30 - 6) * ((100vw - 320px) / (1440 - 320)));
	max-height: calc(8.8px + (40 - 8.8) * ((100vw - 320px) / (1440 - 320)));
	}
.services__slides {
}
.slide-list {
	display: flex;
	justify-content: space-between;
}
.slide-item {
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	padding: calc(8.8px + (40 - 8.8) * ((100vw - 320px) / (1440 - 320))) calc(5.1px + (23 - 5.1) * ((100vw - 320px) / (1440 - 320)));
	max-width: calc(26.5px + (295 - 26.5) * ((100vw - 320px) / (1440 - 320)));
}
.slide-item__img {
	justify-self: flex-end;
	width: calc(15.5px + (70 - 15.5) * ((100vw - 320px) / (1440 - 320)));
}
.slide-item__title {
	margin: calc(5.5px + (25 - 5.5) * ((100vw - 320px) / (1440 - 320))) 0 calc(2.8px + (13 - 2.8) * ((100vw - 320px) / (1440 - 320)));
}
.slide-item__text {
}






.get-in-touch {
	background: url(../img/git/bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: calc(25.5px + (115 - 25.5) * ((100vw - 320px) / (1440 - 320)));
	text-align: center;
	padding: calc(26.6px + (129 - 26.6) * ((100vw - 320px) / (1440 - 320))) 0 calc(51.1px + (210 - 51.1) * ((100vw - 320px) / (1440 - 320)));
}
.g-i-t__title {
	margin: 0 auto;
	width: 25%;
}
.g-i-t__btn {
	border: none;
	padding: calc(2.4px + (11 - 2.4) * ((100vw - 320px) / (1440 - 320))) calc(6px + (30 - 6) * ((100vw - 320px) / (1440 - 320)));
	max-height: calc(8.8px + (40 - 8.8) * ((100vw - 320px) / (1440 - 320)));

	margin-top: calc(7.7px + (35 - 7.7) * ((100vw - 320px) / (1440 - 320)));
}



.news {
	padding: calc(6px + (30 - 6) * ((100vw - 320px) / (1440 - 320))) 0;	
}
.news__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: calc(152.2px + (685 - 152.2) * ((100vw - 320px) / (1440 - 320)));
	margin: 0 auto;
}
.news__title {
}
.news__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: calc(88.8px + (400 - 88.8) * ((100vw - 320px) / (1440 - 320)));
}
.news__form-email {
	padding: calc(2.4px + (11 - 2.4) * ((100vw - 320px) / (1440 - 320))) 0 calc(2.4px + (11 - 2.4) * ((100vw - 320px) / (1440 - 320))) 16px;
	padding-left: calc(3.5px + (16 - 3.5) * ((100vw - 320px) / (1440 - 320)));
	border: none;
}
.news__form-btn {
	border: none;
	padding: calc(2.4px + (11 - 2.4) * ((100vw - 320px) / (1440 - 320))) calc(11.1px + (50 - 11.1) * ((100vw - 320px) / (1440 - 320)));
}





.footer {
}
.wraper {
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: calc(9.3px + (42 - 9.3) * ((100vw - 320px) / (1440 - 320))) 0 calc(11.1px + (15 - 11.1) * ((100vw - 320px) / (1440 - 320)));
}
.footer-item {
}
.footer-item__title {
	margin-bottom: calc(3.3px + (15 - 3.3) * ((100vw - 320px) / (1440 - 320)));
}
.logo__link {
}
.footer__logo {
	padding: calc(1.1px + (50 - 1.1) * ((100vw - 320px) / (1440 - 320))) 0 calc(3.3px + (15 - 3.3) * ((100vw - 320px) / (1440 - 320)));
}
.footer-item__text {
}
.footer-item__container {
	display: flex;
	align-items: flex-start;	
	justify-content: space-between;

}
.footer-item__list {
}
.footer-item__list:nth-child(2){
	margin: 0 calc(8.4px + (38 - 8.4) * ((100vw - 320px) / (1440 - 320))) 0 calc(8px + (36 - 8) * ((100vw - 320px) / (1440 - 320)));
}
.footer-item__lista{
	margin: 0;
}
.footer-item__item {
}
.footer-item__link {
}
.address {
	margin: calc(3.3px + (15 - 3.3) * ((100vw - 320px) / (1440 - 320))) 0;
}
.footer-item__social {
}
.social-icons {
}
.social-icons:nth-child(n+2){
	margin-left: calc(5.5px + (25 - 5.5) * ((100vw - 320px) / (1440 - 320)));
}
.fab {
	display: flex;

}
.fa-facebook-square {
}
.fa-twitter {
}
.fa-google {
}

.footer-line{
	padding: calc(4.9px + (22 - 4.9) * ((100vw - 320px) / (1440 - 320))) 0;
	text-align: center;
}



/*@media screen and (max-width: 940px){
	.wraper{
		max-width: 613px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 613px){
	.wraper{
		max-width: 400px;
		margin: 0 auto;
	}
}*/